<h1>Editing Archive</h1>

<% if can? :update, @archive %>
  <%= render 'form' %>
<% end %>

<%= link_to 'Show', archive_path(@archive, script_name: script_name) %> |
<%= link_to 'Back', archives_path(script_name: script_name) %>
