<h1>Editing Series</h1>

<% if can? :update, @paper %>
  <%= render 'form' %>
<% end %>

<%= link_to 'Show', series_path(@series, script_name: script_name) %> |
<%= link_to 'Back', series_index_path(script_name: script_name) %>
